<div>
  <header class="header">
    <h1>Merchant Show - Admin</h1>
  </header>
  <p id="text">Name: <%= @merchant.name %></p>

  <p id="update"> <%= link_to "Update Merchant Information", "/admin/merchants/#{@merchant.id}/edit" %> </p>
</div>

<% flash.each do |type, message| %>
  <p><%= message %></p>
<% end %>
