---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/enalihai/little-esty-shop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e600bcbe6ed84aa486c23045dc6119ac8e45e5b7bcdd3390f19db789fa645cd"
      Last-Modified:
      - Sat, 09 Apr 2022 20:33:24 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1650432097'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"id":479507634,"node_id":"R_kgDOHJS0sg","name":"little-esty-shop","full_name":"enalihai/little-esty-shop","private":false,"owner":{"login":"enalihai","id":5219578,"node_id":"MDQ6VXNlcjUyMTk1Nzg=","avatar_url":"https://avatars.githubusercontent.com/u/5219578?v=4","gravatar_id":"","url":"https://api.github.com/users/enalihai","html_url":"https://github.com/enalihai","followers_url":"https://api.github.com/users/enalihai/followers","following_url":"https://api.github.com/users/enalihai/following{/other_user}","gists_url":"https://api.github.com/users/enalihai/gists{/gist_id}","starred_url":"https://api.github.com/users/enalihai/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/enalihai/subscriptions","organizations_url":"https://api.github.com/users/enalihai/orgs","repos_url":"https://api.github.com/users/enalihai/repos","events_url":"https://api.github.com/users/enalihai/events{/privacy}","received_events_url":"https://api.github.com/users/enalihai/received_events","type":"User","site_admin":false},"html_url":"https://github.com/enalihai/little-esty-shop","description":null,"fork":true,"url":"https://api.github.com/repos/enalihai/little-esty-shop","forks_url":"https://api.github.com/repos/enalihai/little-esty-shop/forks","keys_url":"https://api.github.com/repos/enalihai/little-esty-shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/enalihai/little-esty-shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/enalihai/little-esty-shop/teams","hooks_url":"https://api.github.com/repos/enalihai/little-esty-shop/hooks","issue_events_url":"https://api.github.com/repos/enalihai/little-esty-shop/issues/events{/number}","events_url":"https://api.github.com/repos/enalihai/little-esty-shop/events","assignees_url":"https://api.github.com/repos/enalihai/little-esty-shop/assignees{/user}","branches_url":"https://api.github.com/repos/enalihai/little-esty-shop/branches{/branch}","tags_url":"https://api.github.com/repos/enalihai/little-esty-shop/tags","blobs_url":"https://api.github.com/repos/enalihai/little-esty-shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/enalihai/little-esty-shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/enalihai/little-esty-shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/enalihai/little-esty-shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/enalihai/little-esty-shop/statuses/{sha}","languages_url":"https://api.github.com/repos/enalihai/little-esty-shop/languages","stargazers_url":"https://api.github.com/repos/enalihai/little-esty-shop/stargazers","contributors_url":"https://api.github.com/repos/enalihai/little-esty-shop/contributors","subscribers_url":"https://api.github.com/repos/enalihai/little-esty-shop/subscribers","subscription_url":"https://api.github.com/repos/enalihai/little-esty-shop/subscription","commits_url":"https://api.github.com/repos/enalihai/little-esty-shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/enalihai/little-esty-shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/enalihai/little-esty-shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/enalihai/little-esty-shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/enalihai/little-esty-shop/contents/{+path}","compare_url":"https://api.github.com/repos/enalihai/little-esty-shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/enalihai/little-esty-shop/merges","archive_url":"https://api.github.com/repos/enalihai/little-esty-shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/enalihai/little-esty-shop/downloads","issues_url":"https://api.github.com/repos/enalihai/little-esty-shop/issues{/number}","pulls_url":"https://api.github.com/repos/enalihai/little-esty-shop/pulls{/number}","milestones_url":"https://api.github.com/repos/enalihai/little-esty-shop/milestones{/number}","notifications_url":"https://api.github.com/repos/enalihai/little-esty-shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/enalihai/little-esty-shop/labels{/name}","releases_url":"https://api.github.com/repos/enalihai/little-esty-shop/releases{/id}","deployments_url":"https://api.github.com/repos/enalihai/little-esty-shop/deployments","created_at":"2022-04-08T19:02:33Z","updated_at":"2022-04-09T20:33:24Z","pushed_at":"2022-04-20T03:09:08Z","git_url":"git://github.com/enalihai/little-esty-shop.git","ssh_url":"git@github.com:enalihai/little-esty-shop.git","clone_url":"https://github.com/enalihai/little-esty-shop.git","svn_url":"https://github.com/enalihai/little-esty-shop","homepage":"","size":1414,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":4,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":4,"watchers":0,"default_branch":"main","temp_clone_token":null,"parent":{"id":313663245,"node_id":"MDEwOlJlcG9zaXRvcnkzMTM2NjMyNDU=","name":"little-esty-shop","full_name":"turingschool-examples/little-esty-shop","private":false,"owner":{"login":"turingschool-examples","id":8518346,"node_id":"MDEyOk9yZ2FuaXphdGlvbjg1MTgzNDY=","avatar_url":"https://avatars.githubusercontent.com/u/8518346?v=4","gravatar_id":"","url":"https://api.github.com/users/turingschool-examples","html_url":"https://github.com/turingschool-examples","followers_url":"https://api.github.com/users/tu[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/enalihai/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d835bedf1eac41e5d8aed93c50363807c782a0c66adf411ce42a1791cdd78cb8"
      Last-Modified:
      - Sat, 09 Apr 2022 20:33:24 GMT
      X-Github-Media-Type:
      - github.v3; format[...]
[...]
