---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/enalihai/little-esty-shop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e600bcbe6ed84aa486c23045dc6119ac8e45e5b7bcdd3390f19db789fa645cd"
      Last-Modified:
      - Sat, 09 Apr 2022 20:33:24 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '44'
      X-Ratelimit-Reset:
      - '1650490085'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '{"id":479507634,"node_id":"R_kgDOHJS0sg","name":"little-esty-shop","full_name":"enalihai/little-esty-shop","private":false,"owner":{"login":"enalihai","id":5219578,"node_id":"MDQ6VXNlcjUyMTk1Nzg=","avatar_url":"https://avatars.githubusercontent.com/u/5219578?v=4","gravatar_id":"","url":"https://api.github.com/users/enalihai","html_url":"https://github.com/enalihai","followers_url":"https://api.github.com/users/enalihai/followers","following_url":"https://api.github.com/users/enalihai/following{/other_user}","gists_url":"https://api.github.com/users/enalihai/gists{/gist_id}","starred_url":"https://api.github.com/users/enalihai/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/enalihai/subscriptions","organizations_url":"https://api.github.com/users/enalihai/orgs","repos_url":"https://api.github.com/users/enalihai/repos","events_url":"https://api.github.com/users/enalihai/events{/privacy}","received_events_url":"https://api.github.com/users/enalihai/received_events","type":"User","site_admin":false},"html_url":"https://github.com/enalihai/little-esty-shop","description":null,"fork":true,"url":"https://api.github.com/repos/enalihai/little-esty-shop","forks_url":"https://api.github.com/repos/enalihai/little-esty-shop/forks","keys_url":"https://api.github.com/repos/enalihai/little-esty-shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/enalihai/little-esty-shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/enalihai/little-esty-shop/teams","hooks_url":"https://api.github.com/repos/enalihai/little-esty-shop/hooks","issue_events_url":"https://api.github.com/repos/enalihai/little-esty-shop/issues/events{/number}","events_url":"https://api.github.com/repos/enalihai/little-esty-shop/events","assignees_url":"https://api.github.com/repos/enalihai/little-esty-shop/assignees{/user}","branches_url":"https://api.github.com/repos/enalihai/little-esty-shop/branches{/branch}","tags_url":"https://api.github.com/repos/enalihai/little-esty-shop/tags","blobs_url":"https://api.github.com/repos/enalihai/little-esty-shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/enalihai/little-esty-shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/enalihai/little-esty-shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/enalihai/little-esty-shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/enalihai/little-esty-shop/statuses/{sha}","languages_url":"https://api.github.com/repos/enalihai/little-esty-shop/languages","stargazers_url":"https://api.github.com/repos/enalihai/little-esty-shop/stargazers","contributors_url":"https://api.github.com/repos/enalihai/little-esty-shop/contributors","subscribers_url":"https://api.github.com/repos/enalihai/little-esty-shop/subscribers","subscription_url":"https://api.github.com/repos/enalihai/little-esty-shop/subscription","commits_url":"https://api.github.com/repos/enalihai/little-esty-shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/enalihai/little-esty-shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/enalihai/little-esty-shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/enalihai/little-esty-shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/enalihai/little-esty-shop/contents/{+path}","compare_url":"https://api.github.com/repos/enalihai/little-esty-shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/enalihai/little-esty-shop/merges","archive_url":"https://api.github.com/repos/enalihai/little-esty-shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/enalihai/little-esty-shop/downloads","issues_url":"https://api.github.com/repos/enalihai/little-esty-shop/issues{/number}","pulls_url":"https://api.github.com/repos/enalihai/little-esty-shop/pulls{/number}","milestones_url":"https://api.github.com/repos/enalihai/little-esty-shop/milestones{/number}","notifications_url":"https://api.github.com/repos/enalihai/little-esty-shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/enalihai/little-esty-shop/labels{/name}","releases_url":"https://api.github.com/repos/enalihai/little-esty-shop/releases{/id}","deployments_url":"https://api.github.com/repos/enalihai/little-esty-shop/deployments","created_at":"2022-04-08T19:02:33Z","updated_at":"2022-04-09T20:33:24Z","pushed_at":"2022-04-20T20:01:02Z","git_url":"git://github.com/enalihai/little-esty-shop.git","ssh_url":"git@github.com:enalihai/little-esty-shop.git","clone_url":"https://github.com/enalihai/little-esty-shop.git","svn_url":"https://github.com/enalihai/little-esty-shop","homepage":"","size":1546,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":2,"watchers":0,"default_branch":"main","temp_clone_token":null,"parent":{"id":313663245,"node_id":"MDEwOlJlcG9zaXRvcnkzMTM2NjMyNDU=","name":"little-esty-shop","full_name":"turingschool-examples/little-esty-shop","private":false,"owner":{"login":"turingschool-examples","id":8518346,"node_id":"MDEyOk9yZ2FuaXphdGlvbjg1MTgzNDY=","avatar_url":"https://avatars.githubusercontent.com/u/8518346?v=4","gravatar_id":"","url":"https://api.github.com/users/turingschool-examples","html_url":"https://github.com/turingschool-examples","followers_url":"https://api.github.com/users/tu[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/enalihai/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"89c5ca58ef1b29d02722e339057a87914d66f46c4dca191ff32cb1ebfcf136e5"
      Last-Modified:
      - Sat, 09 Apr 2022 20:33:24 GMT
      X-Github-Media-Type:
      - github.v3; format[...]
- request:
    method: get
    uri: https://api.github.com/repos/enalihai/little-esty-shop/pulls?state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"691bb3180d56f2d6bb5b1950c79eae93a639957285231aff39d2047a7996b4dd"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/479507634/pulls?state=all&page=2>; rel="next",
        <https://api.github.com/repositories/479507634/pulls?state=all&page=2>; rel="last"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '41'
      X-Ratelimit-Reset:
      - '1650490084'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '19'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/enalihai/little-esty-shop/pulls/92","id":914605746,"node_id":"PR_kwDOHJS0ss42g8ay","html_url":"https://github.com/enalihai/little-esty-shop/pull/92","diff_url":"https://github.com/enalihai/little-esty-shop/pull/92.diff","patch_url":"https://github.com/enalihai/little-esty-shop/pull/92.patch","issue_url":"https://api.github.com/repos/enalihai/little-esty-shop/issues/92","number":92,"state":"closed","locked":false,"title":"GitHub
        names","user":{"login":"James-Harkins","id":93609855,"node_id":"U_kgDOBZRffw","avatar_url":"https://avatars.githubusercontent.com/u/93609855?v=4","gravatar_id":"","url":"https://api.github.com/users/James-Harkins","html_url":"https://github.com/James-Harkins","followers_url":"https://api.github.com/users/James-Harkins/followers","following_url":"https://api.github.com/users/James-Harkins/following{/other_user}","gists_url":"https://api.github.com/users/James-Harkins/gists{/gist_id}","starred_url":"https://api.github.com/users/James-Harkins/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/James-Harkins/subscriptions","organizations_url":"https://api.github.com/users/James-Harkins/orgs","repos_url":"https://api.github.com/users/James-Harkins/repos","events_url":"https://api.github.com/users/James-Harkins/events{/privacy}","received_events_url":"https://api.github.com/users/James-Harkins/received_events","type":"User","site_admin":false},"body":"This
        branch accomplishes the following: \r\n\r\n-adds README.md\r\n-adds contributors
        and their commits to the GitHub Info header, obtained from the GitHub API\r\n-adds
        the vcr and webmock gems to improve testing with API retrievals","created_at":"2022-04-20T19:58:52Z","updated_at":"2022-04-20T20:01:02Z","closed_at":"2022-04-20T20:01:02Z","merged_at":"2022-04-20T20:01:02Z","merge_commit_sha":"83785a571879a036cb6c7be7d725a30e7fd83733","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/enalihai/little-esty-shop/pulls/92/commits","review_comments_url":"https://api.github.com/repos/enalihai/little-esty-shop/pulls/92/comments","review_comment_url":"https://api.github.com/repos/enalihai/little-esty-shop/pulls/comments{/number}","comments_url":"https://api.github.com/repos/enalihai/little-esty-shop/issues/92/comments","statuses_url":"https://api.github.com/repos/enalihai/little-esty-shop/statuses/8178dea47f14a79dd226627381a751ff9d7fb829","head":{"label":"enalihai:github_names","ref":"github_names","sha":"8178dea47f14a79dd226627381a751ff9d7fb829","user":{"login":"enalihai","id":5219578,"node_id":"MDQ6VXNlcjUyMTk1Nzg=","avatar_url":"https://avatars.githubusercontent.com/u/5219578?v=4","gravatar_id":"","url":"https://api.github.com/users/enalihai","html_url":"https://github.com/enalihai","followers_url":"https://api.github.com/users/enalihai/followers","following_url":"https://api.github.com/users/enalihai/following{/other_user}","gists_url":"https://api.github.com/users/enalihai/gists{/gist_id}","starred_url":"https://api.github.com/users/enalihai/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/enalihai/subscriptions","organizations_url":"https://api.github.com/users/enalihai/orgs","repos_url":"https://api.github.com/users/enalihai/repos","events_url":"https://api.github.com/users/enalihai/events{/privacy}","received_events_url":"https://api.github.com/users/enalihai/received_events","type":"User","site_admin":false},"repo":{"id":479507634,"node_id":"R_kgDOHJS0sg","name":"little-esty-shop","full_name":"enalihai/little-esty-shop","private":false,"owner":{"login":"enalihai","id":5219578,"node_id":"MDQ6VXNlcjUyMTk1Nzg=","avatar_url":"https://avatars.githubusercontent.com/u/5219578?v=4","gravatar_id":"","url":"https://api.github.com/users/enalihai","html_url":"https://github.com/enalihai","followers_url":"https://api.github.com/users/enalihai/followers","following_url":"https://api.github.com/users/enalihai/following{/[...]
[...]
