<% if @repo.present? %>
  <% if @repo.is_a?(Repo) %>
    <h3>Github Info</h3>
    <%= @repo.name %><hr>
    <% @repo.contributers.each do |contributer| %>
      <p><%= contributer[:name] %>: <%=contributer[:commits] %> commits</p>
    <% end %>
    <p>Total Merged Pull Requests: <%= @repo.merges %></p>
  <% end %>
<% else %>
  <p>The GitHub API Rate Limit has been hit and we are unable to display current information.</p>
<% end %>
